<!DOCTYPE html>
<html lang="en">

<%- include('header'); -%>

<%- include('navigation'); -%>

<!-- Page Header -->
<link href="../public/css/slideshow.css" rel="stylesheet">
<header class="masthead" style="background-image: url('../public/img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is who we are and what we're doing</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Our aim is to raise awareness about the waorani tribe. This thriving tribe is undergoing some manmade issues, such as
        deforestation, forest fires, the draining of water, etc. We want to ensure the survival of a tribe that needs our help.
        It might not be in danger at the moment, but we want to prevent such a valuable tribe to begin showing signs of
        extinction. This links right back to our aim: raising awareness, because knowing, can really make a difference.<br><br>
        
        
        Now, about us, and the roles we play in the project:<br>
        
        <br>
        Felipe - Our only programmer, and web developer. Tasked to build/create the website from scratch, make sure it has no
        errors -in order for it to be able to run smoothly-, and manage it by adding the information other team members have
        written.
        
        <br>
        Diego - The lead researcher. Entrusted with researching the topic at hand -the Waorani tribe- and editing the website,
        adding valuable information to it. Managing what everyone else researches about and contributing to some of the grunt
        work.
        
        <br>
        Fransico - Our PR guy. Making sure there are ways for people to reach our website, out in school. This is being achieved
        by making a public Snapchat account, a few posters and the QR codes for people to find our website. He’s also
        contributing to the website.
        
        <br>
        Tomas - Our grunt worker. Burdened with going around the school and putting up all the posters, QR codes, etc. Also, a
        vital helper to the lead researcher, giving out advice and information to add to the website.
        
        <br>
        Daniela - Our manager. making sure the other team members are on top of things, giving out roles and also adding info
        onto the website.</p>
     </div>
  </div>
</div>

<hr>

<!-- Bootstrap core JavaScript -->
<script src="../public/vendor/jquery/jquery.min.js"></script>
<script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../public/js/clean-blog.min.js"></script>

</body>

</html>

